.auth-wrapper {
    width: 380px;
    margin: 10px auto;
}
.auth-wrapper .auth-forms {
    background: #fff;
    padding: 25px 40px 11px 40px;
    margin-top: 12px;
    border-radius: 1.85rem;
    display: flex;
    flex-direction: column;
}
.auth-wrapper .auth-forms button {
    width: 100%;
}
