
// IranSans 900 Black
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 900;
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Black.eot');
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/IranSans/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/IranSans/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/IranSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
// IranSans Bold
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: bold;
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Bold.eot');
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/IranSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/IranSans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/IranSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
// IranSans 500 Medium
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 500;
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Medium.eot');
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/IranSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/IranSans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/IranSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
// IranSans 300 Light
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 300;
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Light.eot');
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/IranSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/IranSans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/IranSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
// IranSans 200 UltraLight
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 200;
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_UltraLight.eot');
	src: url('../../Fonts/IranSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/IranSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/IranSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/IranSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
/***************************************************************************************************************************/
// YekanBakh normal
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: normal;
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Black.eot');
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/YekanBakh/woff2/YekanBakh_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/YekanBakh/woff/YekanBakh_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/YekanBakh/ttf/YekanBakh_Black.ttf') format('truetype');
}
// YekanBakh Bold
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: bold;
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Bold.eot');
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/YekanBakh/woff2/YekanBakh_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/YekanBakh/woff/YekanBakh_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/YekanBakh/ttf/YekanBakh_Bold.ttf') format('truetype');
}
// YekanBakh 500 Medium
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 500;
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Medium.eot');
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/YekanBakh/woff2/YekanBakh_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/YekanBakh/woff/YekanBakh_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/YekanBakh/ttf/YekanBakh_Medium.ttf') format('truetype');
}
// YekanBakh 300 Light
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 300;
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Light.eot');
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/YekanBakh/woff2/YekanBakh_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/YekanBakh/woff/YekanBakh_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/YekanBakh/ttf/YekanBakh_Light.ttf') format('truetype');
}
// YekanBakh 200 UltraLight
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 200;
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_UltraLight.eot');
	src: url('../../Fonts/YekanBakh/eot/YekanBakh_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/YekanBakh/woff2/YekanBakh_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/YekanBakh/woff/YekanBakh_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/YekanBakh/ttf/YekanBakh_UltraLight.ttf') format('truetype');
}
// YekanBakh normal
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: normal;
	src: url('../../Fonts/YekanBakh/eot/YekanBakh.eot');
	src: url('../../Fonts/YekanBakh/eot/YekanBakh.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../Fonts/YekanBakh/woff2/YekanBakh.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../Fonts/YekanBakh/woff/YekanBakh.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../Fonts/YekanBakh/ttf/YekanBakh.ttf') format('truetype');
}

@if ( $font--provider == 'IranSans' ) {
    @font-face {
        font-family: 'IranSans';
        src: url("../../Fonts/IranSans/fonts/ttf/IRANSansWeb.ttf");
    }
}
@if ( $font--provider == 'YekanBakh' ) {
    @font-face {
        font-family: 'IranYekan';
        src: url("../../Fonts/IranYekan/IRANYekanMobileRegular.ttf");
    }
}

